flows.json
[{"id":"6977e179.32875","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1207e82.321a418","type":"ibmiot in","z":"6977e179.32875","authentication":"apiKey","apiKey":"43749b77.aa4534","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"z6uebl","applicationId":"","deviceType":"IoT","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":1550,"y":280,"wires":[["512a6c46.3f92a4","f234e9fa.10e548","4c17d382.68339c"]]},{"id":"512a6c46.3f92a4","type":"function","z":"6977e179.32875","name":"Temparature","func":"msg.payload=msg.payload.d.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":1930,"y":80,"wires":[["eef63d8d.6c62e","7275a365.0509ac","253a03ec.273b2c","fb53cc8.7a72b3"]]},{"id":"f234e9fa.10e548","type":"function","z":"6977e179.32875","name":"Humidity","func":"msg.payload=msg.payload.d.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":1940,"y":200,"wires":[["eef63d8d.6c62e","e9b0e3d6.a5de5","1d8b8b5c.33fb35","9da2512.4e095b"]]},{"id":"4c17d382.68339c","type":"function","z":"6977e179.32875","name":"Soil_Temp","func":"msg.payload=msg.payload.d.objectTemp;\nreturn msg;","outputs":1,"noerr":0,"x":1910,"y":300,"wires":[["eef63d8d.6c62e","4a0bb3a4.5371dc","f1532793.d413c8","cdc37737.ac37f8"]]},{"id":"eef63d8d.6c62e","type":"debug","z":"6977e179.32875","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2230,"y":300,"wires":[]},{"id":"7275a365.0509ac","type":"ui_gauge","z":"6977e179.32875","name":"","group":"fb246de5.f4bae","order":3,"width":0,"height":0,"gtype":"gage","title":"Temparature","label":"Degree C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2170,"y":100,"wires":[]},{"id":"e9b0e3d6.a5de5","type":"ui_gauge","z":"6977e179.32875","name":"","group":"fb246de5.f4bae","order":4,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2200,"y":200,"wires":[]},{"id":"4a0bb3a4.5371dc","type":"ui_gauge","z":"6977e179.32875","name":"","group":"fb246de5.f4bae","order":5,"width":0,"height":0,"gtype":"gage","title":"Soil_Temp","label":"Degree C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2270,"y":420,"wires":[]},{"id":"6c32aa63.fc9884","type":"inject","z":"6977e179.32875","name":"","topic":"","payload":"","payloadType":"date","repeat":"15","crontab":"","once":true,"onceDelay":"15","x":1590,"y":120,"wires":[["3350721d.98460e"]]},{"id":"3350721d.98460e","type":"http request","z":"6977e179.32875","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=Bankura,IN&appid=635394f08ea653300ca67b553ac5ead1","tls":"","persist":false,"proxy":"","authType":"","x":1690,"y":20,"wires":[["512a6c46.3f92a4","f234e9fa.10e548","4c17d382.68339c"]]},{"id":"92726094.a2816","type":"ui_button","z":"6977e179.32875","name":"","group":"c9e4fae6.533818","order":2,"width":0,"height":0,"passthru":false,"label":"Motor ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"Command\":\"motoron\"}","payloadType":"json","topic":"","x":1580,"y":420,"wires":[["e6fb4fbf.ed787","eef63d8d.6c62e"]]},{"id":"7d90d993.cfb988","type":"ui_button","z":"6977e179.32875","name":"","group":"c9e4fae6.533818","order":6,"width":0,"height":0,"passthru":false,"label":"Motor OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"Command\":\"motoroff\"}","payloadType":"json","topic":"","x":1590,"y":520,"wires":[["e6fb4fbf.ed787","eef63d8d.6c62e"]]},{"id":"e6fb4fbf.ed787","type":"ibmiot out","z":"6977e179.32875","authentication":"apiKey","apiKey":"43749b77.aa4534","outputType":"cmd","deviceId":"z6uebl","deviceType":"IoT","eventCommandType":"Command","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":1980,"y":480,"wires":[]},{"id":"253a03ec.273b2c","type":"ui_chart","z":"6977e179.32875","name":"","group":"904ef40e.bd8638","order":0,"width":0,"height":0,"label":"Temparature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#af6423","#2ca02c","#98df8a","#d62728","#ff9896","#7d2acb","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2270,"y":60,"wires":[[]]},{"id":"1d8b8b5c.33fb35","type":"ui_chart","z":"6977e179.32875","name":"","group":"904ef40e.bd8638","order":1,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2220,"y":140,"wires":[[]]},{"id":"f1532793.d413c8","type":"ui_chart","z":"6977e179.32875","name":"","group":"904ef40e.bd8638","order":2,"width":0,"height":0,"label":"Soil_Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"9","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2260,"y":480,"wires":[[]]},{"id":"fb53cc8.7a72b3","type":"ui_text_input","z":"6977e179.32875","name":"","label":"Temparature","tooltip":"","group":"c9982f0f.bee4a","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":2230,"y":20,"wires":[[]]},{"id":"9da2512.4e095b","type":"ui_text_input","z":"6977e179.32875","name":"","label":"Humidity","tooltip":"","group":"c9982f0f.bee4a","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":2260,"y":240,"wires":[[]]},{"id":"cdc37737.ac37f8","type":"ui_text_input","z":"6977e179.32875","name":"","label":"Soil_Temp","tooltip":"","group":"c9982f0f.bee4a","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":2270,"y":360,"wires":[[]]},{"id":"43749b77.aa4534","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"fb246de5.f4bae","type":"ui_group","z":"","name":"Smart Agriculture System","tab":"8ef474fa.0f0e28","order":1,"disp":true,"width":"5","collapse":true},{"id":"c9e4fae6.533818","type":"ui_group","z":"","name":"Motor Commands","tab":"8ef474fa.0f0e28","order":4,"disp":true,"width":"5","collapse":false},{"id":"904ef40e.bd8638","type":"ui_group","z":"","name":"Graph_plot","tab":"8ef474fa.0f0e28","order":3,"disp":true,"width":"5","collapse":false},{"id":"c9982f0f.bee4a","type":"ui_group","z":"","name":"Output_Text","tab":"8ef474fa.0f0e28","order":1,"disp":true,"width":"5","collapse":false},{"id":"8ef474fa.0f0e28","type":"ui_tab","z":"","name":"Home_1","icon":"dashboard","disabled":false,"hidden":false}]